asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
django==5.0.2
django-dotenv==1.4.2
django-storages==1.14.2
idna==3.6
psycopg2-binary==2.9.9
requests==2.31.0
sqlparse==0.4.4
typing-extensions==4.9.0
urllib3==2.2.1
 
